* {
  padding: 0;
  margin: 0;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.bg-light {
  text-align: center !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  font-size: 25px;
}

.navbar {
  padding-top: 15px;
}

.navbar-toggler {
  margin-top: -25px;
}

.nav-item .nav-link {
  font-size: 18px;
  font-weight: 500;
  color: black !important;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
}

.nav-link:hover {
  color: white !important;
  font-size: 19px;
  text-shadow: 1px 1px black;
}

li a {
  text-shadow: .5px .5px white;
}

.landingPage {
  height: 100vh;
  width: 100%;
  background-color: #1f98b6;
}

.bg-light {
  background-color: #84abd200 !important;
}

.middleland {
  height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.innermiddleUp .myJob, .innermiddleUp .myName {
  text-align: center;
  color: black;
}

.innermiddleDown img {
  margin-top: 40px;
  border-radius: 150px;
  height: 300px;
  width: 300px;
}

.section {
  height: 100vh;
  background-color: cadetblue;
}

.leftmeetme {
  padding: 20px 20px 20px 40px;
  background-color: cornflowerblue;
}

.rightmeetme {
  padding: 20px;
  background-color: darkgoldenrod;
}

footer {
  height: 200px;
  background-color: darkgray;
}

@media (max-width: 700px) {
  .innermiddleDown img {
    border-radius: 100px;
    height: 200px;
    width: 200px;
  }
}

@media (min-width: 768px) {
  .navbar-expand-lg {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg .navbar-nav-scroll {
    overflow: visible;
  }
  .navbar-expand-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .boxshadow {
    width: 100%;
    border-bottom: 2px solid black;
    border-radius: 10px;
  }
  .middlelandTop {
    margin-top: -100px;
  }
  .hideImg {
    display: none;
  }
}
